body {
    padding: 0;
    margin: 0;
    font-family: open sans,sans-serif;;
}

nav {
    background-color: #7a19f1;
    padding: 30px;
    display: flex;
    position: fixed;
    height: 10px;
    width: 100%;
    display: flex;
    color: white;
}

.dropdown .drop {
    outline: none;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0.2cm;
    background-color: #7a19f1;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7a19f1;
    min-width: 160px;
    z-index: 1;
    border-radius: 0.2cm;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f2b200;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.link {
    margin-right: 15%;
    color: white;
}

.hamburger {
    justify-content: space-between;
}

.hamburger-icon {
    display: flex;
    font-size: 25px;
    justify-content: end;
    position: relative;
}

.logo {
    display: flex;
}

.goz {
    margin-top: 0;
    font-size: 20px;
}

.logo-icon {  
    background-image: url(data:image/svg+xml;base64,CjxzdmcgYXJpYS1oaWRkZW49J3RydWUnIGZvY3VzYWJsZT0nZmFsc2UnIGRhdGEtcHJlZml4PSdmYXMnIGRhdGEtaWNvbj0ncG9sbC1oJyBjbGFzcz0nc3ZnLWlubGluZS0tZmEgZmEtcG9sbC1oIGZhLXctMTQnIHJvbGU9J2ltZycgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB2aWV3Qm94PScwIDAgNDQ4IDUxMic+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTQ0OCA0MzJWODBjMC0yNi41LTIxLjUtNDgtNDgtNDhINDhDMjEuNSAzMiAwIDUzLjUgMCA4MHYzNTJjMCAyNi41IDIxLjUgNDggNDggNDhoMzUyYzI2LjUgMCA0OC0yMS41IDQ4LTQ4ek0xMTIgMTkyYy04Ljg0IDAtMTYtNy4xNi0xNi0xNnYtMzJjMC04Ljg0IDcuMTYtMTYgMTYtMTZoMTI4YzguODQgMCAxNiA3LjE2IDE2IDE2djMyYzAgOC44NC03LjE2IDE2LTE2IDE2SDExMnptMCA5NmMtOC44NCAwLTE2LTcuMTYtMTYtMTZ2LTMyYzAtOC44NCA3LjE2LTE2IDE2LTE2aDIyNGM4Ljg0IDAgMTYgNy4xNiAxNiAxNnYzMmMwIDguODQtNy4xNiAxNi0xNiAxNkgxMTJ6bTAgOTZjLTguODQgMC0xNi03LjE2LTE2LTE2di0zMmMwLTguODQgNy4xNi0xNiAxNi0xNmg2NGM4Ljg0IDAgMTYgNy4xNiAxNiAxNnYzMmMwIDguODQtNy4xNiAxNi0xNiAxNmgtNjR6Jz48L3BhdGg+PC9zdmc+);
    width: 20px;
    display: inline-block;
    height: 20px;
    color: #fff;
    max-width: 18px;
    margin-right: 8px;
    top: 4px;
    position: relative;
    border-right: none;
}

h1 {
    color: white;
}

.section1 {
    height: 500px;
    width: 100%;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom,#7a19f1,#332179);
}

.header {
    padding: 80px;
}
.para {
    font-size: 17px;
    margin-top: -100px;
    padding: 20px;
}

a {
    color: white;
}

.btn {
    background: linear-gradient(
        180deg
        ,#f2cf00 0%,#f2b200 100%);
    color: rgba(0,0,0,.6);
    box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
    width: 140px;
    height: 50px;
    border-radius: 40px;
}

.section2 {
    margin-bottom: 80px;
    border-bottom: 1px solid black;
}

.icon1 {
    text-align: center;
    margin-top: 50px;
}

.header2 {
    text-align: center;
    color: #5b43d6;;
}

.para2 {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
    color: grey;
}

.button2 {
    text-align: center;
    margin-bottom: 80px;
}

.btn2 {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: white;
    border: 1px solid #7a19f1;
    color: #7a19f1;
    margin-bottom: 30px;
}

.badge {
    display: inline-block;
    padding: 3px 3px;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
}

.badge1 {
    color: #fff;
    background-color: #5b43d6;
}

.badge2 {
    font-size: 11px;
    vertical-align: middle;
    margin-left: 5px;
}

.section3 {
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.work {
    text-align: center;
}

.para2 {
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
    color: grey;
}

.btn3 {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: #7a19f1;
    color: white;
    font-size: 15px;
    border: 1px solid #7a19f1;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pricing {
    background: linear-gradient(to bottom,#7a19f1,#332179);
    text-align: center;
    padding: 10px;
    height: auto;
}

.topic {
    color: white;
}

.topic0 {
    columns: grey;
    text-align: center;
}

.basic {
    justify-content: center;
}

.box1 {
    background-color: #ebeaea;
    box-shadow: 0px 0px 16px 0px #00000066;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    color: grey;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
}

h5 {
    margin-top: 0;
}

ul {
    list-style: none;
    margin-right: 30px;
    font-size: 13px;
}

.btn4 {
    background-color: #f2cf00;
    color: rgba(0,0,0,.6);
    width: 140px;
    height: 50px;
    border-radius: 40px;
    border: none;
}

.form {
    margin-top: 40px;
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
}

input {
    width: 100%;
}

textarea {
    width: inherit;
}

.btn5 {
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: #7a19f1;
    color: white;
    font-size: 15px;
    border: 1px solid #7a19f1;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button {
    text-align: center;
}

.btn5 {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: #7a19f1;
    color: white;
    font-size: 15px;
    border: 1px solid #7a19f1;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 33%;
}

h3 {
    text-align: center;
}


@media (min-width: 610px){
    .basic {
        margin-right: 30px;
        margin-left: 30px;
    }

    .form {
        margin-left: 20%;
        margin-right: 20%;
    }

    .basic {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 1000px){
    .basic {
        display: flex;
        justify-content: center;
    }

    .form {
        margin-top: 40px;
        margin-left: 40%;
        margin-right: 40%;
    }

    .work {
        display: flex;
    }

    .section3 {
        padding: 100px;
    }

    .img {
        width: 600px;
    }

    .topic0 {
        columns: grey;
        text-align: center;
        margin-top: -100px;
    }
}


  
